.tracks-list-header {
  border-bottom: 1px solid var(--border-color);
  color: var(--tracks-header-color);
  background-color: var(--tracks-header-bg);
  display: flex;
  width: 100%;
}

.cell-track-playing {
  width: 30px;
  text-align: center;
}

.cell-track {
  flex: 1;
}

.cell-duration {
  width: 5%;
}

.cell-genre {
  width: 10%;
}

.cell-rating {
  width: 76px
}

.cell-artist,
.cell-album,
.cell-date-added {
  width: 15%;
}
